* {
    font-family: 'Inter';
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

h1, h4 {
    text-align: center;
}

h5, h6 {
    margin: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

h5 {
    margin-top: 15px;
}

.row {
    display: flex;
    flex-direction: row;
}

.grid {
    display: grid;
    gap: 5px;
}

.toolbar-1 {
    width: 25%;
    border-radius: 0px 30px 30px 0px;
    background: #DFFC8A;
    padding: 10px;
}

.component-tree {
    margin: 5%;
    height: 40%;
    background: #FFFFFF;
}

.toolbar-3{
    display: flex;
    justify-content: flex-start;
}

.column {
    margin-right: 20px;
    margin-left: 20px;
}

.file-column{
    order: -1;
}

button {
    border-radius: 20px;
    background: #D9D9D9;
    height: 25px;
    font-weight: 600;
}

.onoffButton {
    width: 75px;
}

canvas {
    width: 100%;
    height: 100%;
}

.toolbar-2 {
    width: 25%;
    border-radius: 30px 0px 0px 30px;
    background: #DFFC8A;
    padding: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    margin-left: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 10px 10px;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.toolbar-3 {
    height: 100vh;
    background: #DFFC8A;
}

@media screen and (min-width:800px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .toolbar-2 {
        width: 20%;
    }
}

@media screen and (min-width:1000px) {
    .toolbar-2 {
        width: 15%;
    }
    .row {
        height:70%;
    }
}