body {
  font-family: "Poppins";
}

.point {
  width: 8px;
  height: 8px;
  background-color: red;
  border-radius: 50%;
}

.sidebar-title {
  font-size: 20px;
  color: #333;
  font-weight: bold;
  text-align: center;
  padding-bottom: 15px;
}

/* NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1030; /* Adjust as needed to ensure navbar is on top */
  display: flex;
}
.nav-help-icon,
.nav-title,
.nav-shape-menu {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-shape-menu {
  justify-content: flex-start;
}

.nav-help-icon {
  display: flex;
  text-align: right;
  align-items: center;
  justify-content: flex-end;
}

.nav-title {
  font-size: 1.5rem;
  text-align: center;
  justify-content: center;
}

.nav-link:hover {
  background-color: blue;
  cursor: pointer;
}

/* SIDE BAR */
.sidebar-left {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  overflow: auto;
  padding: 1rem;
  background-color: #f8f9fa;
  margin-top: 60px;
}

.transform-menu {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}

.transform-menu label {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  justify-content: center;
}

.transform-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.draggable-number-input {
  width: 100px;
  height: 30px;
}
.no-select {
  user-select: none; /* Prevent text selection during drag */
}
.dragging-cursor {
  cursor: ew-resize; /* Change cursor while dragging */
}

.canvas-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.canvas-buttons button {
  margin: 0 10px;
}

.component-select {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.component-tree {
  height: 100%;
  padding-bottom: 10px;
}

/* RIGHT SIDE BAR */
.sidebar-right {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  overflow: auto;
  padding: 1rem;
  background-color: #f8f9fa;
  margin-top: 60px;
}

.sidebar-left .top,
.sidebar-left .bottom {
  height: 50%;
  overflow-y: auto;
}

.developer-name {
  margin-top: 30px;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}

/* CANVAS */
#canvas {
  position: absolute;
  top: 60px;
  left: 300px;
  right: 300px;
  bottom: 0;
}
